<header ng-switch on="$location.path().indexOf('/PurchaseOrderDetails/new') > -1">
    <h3 ng-switch-when="true">Create a new PurchaseOrderDetail</h3>
    <h3 ng-switch-when="false">View or edit PurchaseOrderDetail</h3>
</header>
<form id="PurchaseOrderDetailForm" name="PurchaseOrderDetailForm" class="form-horizontal" role="form">
    <div ng-show="displayError" class="alert alert-danger">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    
    <div class="form-group" ng-class="{'has-error': PurchaseOrderDetailForm.quantity.$invalid}">
        <label for="quantity" class="col-sm-2 control-label">Quantity</label>
        <div id="quantityControls" class="col-sm-10">
            <input id="quantity" name="quantity" type="number" class="form-control" ng-model="purchaseOrderDetail.quantity" placeholder="Enter the PurchaseOrderDetail Quantity"></input>
            <span class="help-block error" ng-show="PurchaseOrderDetailForm.quantity.$error.number">not a number</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PurchaseOrderDetailForm.confirm.$invalid}">
        <label for="confirm" class="col-sm-2 control-label">Confirm</label>
        <div id="confirmControls" class="col-sm-10">
            <input id="confirm" name="confirm" type="text" ng-maxlength="1" class="form-control" ng-model="purchaseOrderDetail.confirm" placeholder="Enter the PurchaseOrderDetail Confirm"></input>
            <span class="help-block error" ng-show="PurchaseOrderDetailForm.confirm.$error.maxlength">maximum length is 1</span>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PurchaseOrderDetailForm.item.$invalid}">
        <label for="item" class="col-sm-2 control-label">Item</label>
        <div id="itemControls" class="col-sm-10">
        <select id="item" name="item" class="form-control" ng-model="itemSelection" ng-options="i.text for i in itemSelectionList"  >
            <option value="">Choose a Item</option>
        </select>
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error': PurchaseOrderDetailForm.purchaseOrder.$invalid}">
        <label for="purchaseOrder" class="col-sm-2 control-label">Purchase Order</label>
        <div id="purchaseOrderControls" class="col-sm-10">
        <select id="purchaseOrder" name="purchaseOrder" class="form-control" ng-model="purchaseOrderSelection" ng-options="p.text for p in purchaseOrderSelectionList"  >
            <option value="">Choose a Purchase Order</option>
        </select>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="savePurchaseOrderDetail" name="savePurchaseOrderDetail" class="btn btn-primary" ng-disabled="isClean() || PurchaseOrderDetailForm.$invalid" ng-click="save()"><span class="glyphicon glyphicon-ok-sign"></span> Save</button>
            <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</button>
            <button id="deletePurchaseOrderDetail" name="deletePurchaseOrderDetail" class="btn btn-danger" ng-show="purchaseOrderDetail.id" ng-click="remove()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
    </div>
</form>